@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #475569;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #a1a1aa,#030712);
  background-blend-mode: multiply;
}

